/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *
 */
$color: #00FF00;
body {
  font-family: "LMRomanSlant10";
  float: left;
  text-shadow: 0 .065em #00FF00;
  border-top-color: black;
  border-top-style: dashed;
  border-bottom-style: solid;
  border-bottom-color: red;
  margin: 5px;
}
ul{
 background: url('1.png') repeat-x white;
  cursor:crosshair;
 font-weight: bold;
 margin:10px;
 text-shadow: 0 .063em $color;
  list-style-type:upper-roman;


}
p{
  text-decoration:underline;
  background:white;
}
